* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: #15151e;
  color: #fff;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  overflow: hidden; /* Recorta a imagem quando ela crescer */
}

.navebar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100%;
  background-color: #15151e;
  cursor: pointer;
  background-color: #15151e;
  background-image: repeating-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.03) 0px,
    rgba(255, 255, 255, 0.03) 12px,
    transparent 12px,
    transparent 24px
  );
}

.ul-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 6rem;
  font-size: large;
}
.ul-bar :hover {
  transform: scale(1.1); /* Aumenta a imagem em 15%. Use 1.2 para 20%, etc. */
}
.img-logo {
  width: 9rem;
  margin-right: 8rem;
}
.formula {
  overflow: hidden; /* Recorta a imagem quando ela crescer */
  border-radius: 20px;
}
.img-inicio {
  max-width: 100%;
  border-radius: 0px 0px 20px 20px;
  margin-top: 5rem;
  transition: 0.5s ease;
}

.img-inicio:hover {
  transform: scale(1.1);
  transition-delay: 8ms;
}
.video-destaque {
  width: 50%;
  display: grid;
  align-items: normal;
}
.video-dest {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}
.video1 {
  width: 25rem;
  border-radius: 10px;
  display: block;
  margin-bottom: 1rem;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  margin-bottom: 30px;
}
.Principal {
  max-width: 100%;
  background-color: #000;
  height: 600px;
}
.calendario {
  display: flex;
  align-items: center;
  justify-content: center;
}
.corridas {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  font-size: 3rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #000;
}

.container-fotos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  position: relative;
  cursor: pointer;
  height: 40rem;
  z-index: auto;
  overflow: hidden; /* Recorta a imagem quando ela crescer */
}
.hover {
  overflow: hidden; /* Recorta a imagem quando ela crescer */
  border-radius: 20px;
}
.fotos1 {
  width: 100%; /* Ocupa toda a largura do bloco pai */
  height: 18rem; /* Fixa uma altura padrão para alinhar todas */
  object-fit: cover; /* Preenche o espaço cortando o excesso */
  border-radius: 20px 20px 20px 20px;
  gap: 1rem;

  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
  transition: 0.5s ease; /* Cria o efeito de movimento suave (0.5 segundos) */
  z-index: 200;
}
.fotos1:hover {
  transform: scale(1.1);
  transition-delay: 8ms;
}

.fotos2 {
  width: 35rem; /* Ocupa toda a largura do bloco pai */
  height: 285px; /* Fixa uma altura padrão para alinhar todas */
  object-fit: cover; /* Preenche o espaço cortando o excesso */
  border-radius: 10px;
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
  transition: 0.5s ease; /* Cria o efeito de movimento suave (0.5 segundos) */
}
.fotos2:hover {
  transform: scale(1.1);
  transition-delay: 8ms;
}

.paises {
  position: absolute;
  z-index: 500;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.rodada {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}
.container-principal {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.container-carros {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 3fr);
  gap: 40px; /* Espaçamento entre as fotos/elementos */
  margin-bottom: 2rem;
  width: 100%;
  padding: 20px;
}

.carros {
  width: 100%; /* Ocupa a largura total do bloco onde estiver */
  max-width: 900px; /* Não passa dpilotoo tamanho original da foto */
  aspect-ratio: 1000 / 290; /* Calcula a altura proporcional automaticamente */
  object-fit: cover; /* Protege contra qualquer distorção */
  border-radius: 12px;
}
.caixa-carros {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.caixa {
  margin-bottom: 10px;
}
.mer {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-left: 10px;
}
.piloto {
  color: #d9d9d9;
  padding: 10px;
}
.piloto span {
  text-transform: uppercase;
  font-size: 18px;
  gap: 10px;
  font-weight: bold;
}
.equipe {
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.f1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.f2 {
  font-size: 1.5rem;
}
/* Definições gerais do card do piloto */
.driver-card-cadillac {
  display: inline-flex; /* Faz o card se ajustar ao tamanho do conteúdo */
  align-items: center; /* Alinha a imagem e o texto verticalmente ao centro */
  padding: 10px 20px;
  border-radius: 8px; /* Leve arredondada nos cantos do card (opcional) */
  font-family: "Arial", sans-serif; /* Use a fonte de sua preferência */
  gap: 12px; /* Espaço exato entre a imagem e o texto */
  cursor: pointer;
}

/* Container do Avatar para fazer o fundo circular verde claro */
.avatar-container-cadillac {
  width: 45px;
  height: 45px;
  background-color: #3bbf93; /* Verde mais claro de fundo da foto */
  border-radius: 50%; /* Deixa o container redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que a foto não saia do círculo */
  cursor: pointer;
}

/* Estilização da imagem do piloto */
.driver-avatar-cadillac {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da foto sem distorcer */
  cursor: pointer;
}

/* Container dos textos */
.driver-info-cadillac {
  display: flex;
  gap: 6px; /* Espaço entre o Nome e o Sobrenome */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo do Primeiro Nome (Normal) */
.first-name-cadillac {
  font-weight: 400;
  opacity: 0.9; /* Um toque sutil de opacidade se quiser diferenciar mais */
  cursor: pointer;
}

/* Estilo do Sobrenome (Negrito) */
.last-namecadillac-cadillac {
  font-weight: 800;
  text-transform: uppercase; /* Garante que fique em caixa alta */
  cursor: pointer;
}

/*Aston Martin */
/* Definições gerais do card do piloto */
.driver-card-martin {
  display: inline-flex; /* Faz o card se ajustar ao tamanho do conteúdo */
  align-items: center; /* Alinha a imagem e o texto verticalmente ao centro */
  padding: 10px 20px;
  border-radius: 8px; /* Leve arredondada nos cantos do card (opcional) */
  font-family: "Arial", sans-serif; /* Use a fonte de sua preferência */
  gap: 12px; /* Espaço exato entre a imagem e o texto */
  cursor: pointer;
}

/* Container do Avatar para fazer o fundo circular verde claro */
.avatar-container-martin {
  width: 45px;
  height: 45px;
  background-color: #44ca9d; /* Verde mais claro de fundo da foto */
  border-radius: 50%; /* Deixa o container redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que a foto não saia do círculo */
  cursor: pointer;
}

/* Estilização da imagem do piloto */
.driver-avatar-martin {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da foto sem distorcer */
  cursor: pointer;
}

/* Container dos textos */
.driver-info-martin {
  display: flex;
  gap: 6px; /* Espaço entre o Nome e o Sobrenome */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo do Primeiro Nome (Normal) */
.first-name-martin {
  font-weight: 400;
  opacity: 0.9; /* Um toque sutil de opacidade se quiser diferenciar mais */
  cursor: pointer;
}

/* Estilo do Sobrenome (Negrito) */
.last-namecadillac-martin {
  font-weight: 800;
  text-transform: uppercase; /* Garante que fique em caixa alta */
  cursor: pointer;
}
/*Aston Martin */

/*Audi */
/* Definições gerais do card do piloto */
.driver-card-audi {
  display: inline-flex; /* Faz o card se ajustar ao tamanho do conteúdo */
  align-items: center; /* Alinha a imagem e o texto verticalmente ao centro */
  padding: 10px 20px;
  border-radius: 8px; /* Leve arredondada nos cantos do card (opcional) */
  font-family: "Arial", sans-serif; /* Use a fonte de sua preferência */
  gap: 12px; /* Espaço exato entre a imagem e o texto */
  cursor: pointer;
}

/* Container do Avatar para fazer o fundo circular verde claro */
.avatar-container-audi {
  width: 45px;
  height: 45px;
  background-color: #44ca9d; /* Verde mais claro de fundo da foto */
  border-radius: 50%; /* Deixa o container redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que a foto não saia do círculo */
  cursor: pointer;
}

/* Estilização da imagem do piloto */
.driver-avatar-audi {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da foto sem distorcer */
  cursor: pointer;
}

/* Container dos textos */
.driver-info-audi {
  display: flex;
  gap: 6px; /* Espaço entre o Nome e o Sobrenome */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo do Primeiro Nome (Normal) */
.first-name-audi {
  font-weight: 400;
  opacity: 0.9; /* Um toque sutil de opacidade se quiser diferenciar mais */
  cursor: pointer;
}

/* Estilo do Sobrenome (Negrito) */
.last-namecadillac-audi {
  font-weight: 800;
  text-transform: uppercase; /* Garante que fique em caixa alta */
  cursor: pointer;
}
/*Audi */
/*Williams */
/* Definições gerais do card do piloto */
.driver-card-Williams {
  display: inline-flex; /* Faz o card se ajustar ao tamanho do conteúdo */
  align-items: center; /* Alinha a imagem e o texto verticalmente ao centro */
  padding: 10px 20px;
  border-radius: 8px; /* Leve arredondada nos cantos do card (opcional) */
  font-family: "Arial", sans-serif; /* Use a fonte de sua preferência */
  gap: 12px; /* Espaço exato entre a imagem e o texto */
  cursor: pointer;
}

/* Container do Avatar para fazer o fundo circular verde claro */
.avatar-container-Williams {
  width: 45px;
  height: 45px;
  background-color: #44ca9d; /* Verde mais claro de fundo da foto */
  border-radius: 50%; /* Deixa o container redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que a foto não saia do círculo */
  cursor: pointer;
}

/* Estilização da imagem do piloto */
.driver-avatar-Williams {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da foto sem distorcer */
  cursor: pointer;
}

/* Container dos textos */
.driver-info-Williams {
  display: flex;
  gap: 6px; /* Espaço entre o Nome e o Sobrenome */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo do Primeiro Nome (Normal) */
.first-name-Williams {
  font-weight: 400;
  opacity: 0.9; /* Um toque sutil de opacidade se quiser diferenciar mais */
  cursor: pointer;
}

/* Estilo do Sobrenome (Negrito) */
.last-namecadillac-Williams {
  font-weight: 800;
  text-transform: uppercase; /* Garante que fique em caixa alta */
  cursor: pointer;
}
/*Williams */

/*Haas */
/* Definições gerais do card do piloto */
.driver-card-Haas {
  display: inline-flex; /* Faz o card se ajustar ao tamanho do conteúdo */
  align-items: center; /* Alinha a imagem e o texto verticalmente ao centro */
  padding: 10px 20px;
  border-radius: 8px; /* Leve arredondada nos cantos do card (opcional) */
  font-family: "Arial", sans-serif; /* Use a fonte de sua preferência */
  gap: 12px; /* Espaço exato entre a imagem e o texto */
  cursor: pointer;
}

/* Container do Avatar para fazer o fundo circular verde claro */
.avatar-container-Haas {
  width: 45px;
  height: 45px;
  background-color: #44ca9d; /* Verde mais claro de fundo da foto */
  border-radius: 50%; /* Deixa o container redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que a foto não saia do círculo */
  cursor: pointer;
}

/* Estilização da imagem do piloto */
.driver-avatar-Haas {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da foto sem distorcer */
  cursor: pointer;
}

/* Container dos textos */
.driver-info-Haas {
  display: flex;
  gap: 6px; /* Espaço entre o Nome e o Sobrenome */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo do Primeiro Nome (Normal) */
.first-name-Haas {
  font-weight: 400;
  opacity: 0.9; /* Um toque sutil de opacidade se quiser diferenciar mais */
  cursor: pointer;
}

/* Estilo do Sobrenome (Negrito) */
.last-namecadillac-Haas {
  font-weight: 800;
  text-transform: uppercase; /* Garante que fique em caixa alta */
  cursor: pointer;
}
/*Haas */

/*Alpine */
/* Definições gerais do card do piloto */
.driver-card-Alpine {
  display: inline-flex; /* Faz o card se ajustar ao tamanho do conteúdo */
  align-items: center; /* Alinha a imagem e o texto verticalmente ao centro */
  padding: 10px 20px;
  border-radius: 8px; /* Leve arredondada nos cantos do card (opcional) */
  font-family: "Arial", sans-serif; /* Use a fonte de sua preferência */
  gap: 12px; /* Espaço exato entre a imagem e o texto */
  cursor: pointer;
}

/* Container do Avatar para fazer o fundo circular verde claro */
.avatar-container-Alpine {
  width: 45px;
  height: 45px;
  background-color: #44ca9d; /* Verde mais claro de fundo da foto */
  border-radius: 50%; /* Deixa o container redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que a foto não saia do círculo */
  cursor: pointer;
}

/* Estilização da imagem do piloto */
.driver-avatar-Alpine {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da foto sem distorcer */
  cursor: pointer;
}

/* Container dos textos */
.driver-info-Alpine {
  display: flex;
  gap: 6px; /* Espaço entre o Nome e o Sobrenome */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo do Primeiro Nome (Normal) */
.first-name-Alpine {
  font-weight: 400;
  opacity: 0.9; /* Um toque sutil de opacidade se quiser diferenciar mais */
  cursor: pointer;
}

/* Estilo do Sobrenome (Negrito) */
.last-namecadillac-Alpine {
  font-weight: 800;
  text-transform: uppercase; /* Garante que fique em caixa alta */
  cursor: pointer;
}
/*Alpine */

/*Racing  */
/* Definições gerais do card do piloto */
.driver-card-Racing {
  display: inline-flex; /* Faz o card se ajustar ao tamanho do conteúdo */
  align-items: center; /* Alinha a imagem e o texto verticalmente ao centro */
  padding: 10px 20px;
  border-radius: 8px; /* Leve arredondada nos cantos do card (opcional) */
  font-family: "Arial", sans-serif; /* Use a fonte de sua preferência */
  gap: 12px; /* Espaço exato entre a imagem e o texto */
  cursor: pointer;
}

/* Container do Avatar para fazer o fundo circular verde claro */
.avatar-container-Racing {
  width: 45px;
  height: 45px;
  background-color: #44ca9d; /* Verde mais claro de fundo da foto */
  border-radius: 50%; /* Deixa o container redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que a foto não saia do círculo */
  cursor: pointer;
}

/* Estilização da imagem do piloto */
.driver-avatar-Racing {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da foto sem distorcer */
  cursor: pointer;
}

/* Container dos textos */
.driver-info-Racing {
  display: flex;
  gap: 6px; /* Espaço entre o Nome e o Sobrenome */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo do Primeiro Nome (Normal) */
.first-name-Racing {
  font-weight: 400;
  opacity: 0.9; /* Um toque sutil de opacidade se quiser diferenciar mais */
  cursor: pointer;
}

/* Estilo do Sobrenome (Negrito) */
.last-namecadillac-Racing {
  font-weight: 800;
  text-transform: uppercase; /* Garante que fique em caixa alta */
  cursor: pointer;
}
/*Racing  */

/*Mercedes  */
/* Definições gerais do card do piloto */
.driver-card-Mercedes {
  display: inline-flex; /* Faz o card se ajustar ao tamanho do conteúdo */
  align-items: center; /* Alinha a imagem e o texto verticalmente ao centro */
  padding: 10px 20px;
  border-radius: 8px; /* Leve arredondada nos cantos do card (opcional) */
  font-family: "Arial", sans-serif; /* Use a fonte de sua preferência */
  gap: 12px; /* Espaço exato entre a imagem e o texto */
  cursor: pointer;
}

/* Container do Avatar para fazer o fundo circular verde claro */
.avatar-container-Mercedes {
  width: 45px;
  height: 45px;
  background-color: #44ca9d; /* Verde mais claro de fundo da foto */
  border-radius: 50%; /* Deixa o container redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que a foto não saia do círculo */
  cursor: pointer;
}

/* Estilização da imagem do piloto */
.driver-avatar-Mercedes {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da foto sem distorcer */
  cursor: pointer;
}

/* Container dos textos */
.driver-info-Mercedes {
  display: flex;
  gap: 6px; /* Espaço entre o Nome e o Sobrenome */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo do Primeiro Nome (Normal) */
.first-name-Mercedes {
  font-weight: 400;
  opacity: 0.9; /* Um toque sutil de opacidade se quiser diferenciar mais */
  cursor: pointer;
}

/* Estilo do Sobrenome (Negrito) */
.last-namecadillac-Mercedes {
  font-weight: 800;
  text-transform: uppercase; /* Garante que fique em caixa alta */
  cursor: pointer;
}
/*Mercedes  */

/*Mclaren  */
/* Definições gerais do card do piloto */
.driver-card-Mclaren {
  display: inline-flex; /* Faz o card se ajustar ao tamanho do conteúdo */
  align-items: center; /* Alinha a imagem e o texto verticalmente ao centro */
  padding: 10px 20px;
  border-radius: 8px; /* Leve arredondada nos cantos do card (opcional) */
  font-family: "Arial", sans-serif; /* Use a fonte de sua preferência */
  gap: 12px; /* Espaço exato entre a imagem e o texto */
  cursor: pointer;
}

/* Container do Avatar para fazer o fundo circular verde claro */
.avatar-container-Mclaren {
  width: 45px;
  height: 45px;
  background-color: #44ca9d; /* Verde mais claro de fundo da foto */
  border-radius: 50%; /* Deixa o container redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que a foto não saia do círculo */
  cursor: pointer;
}

/* Estilização da imagem do piloto */
.driver-avatar-Mclaren {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da foto sem distorcer */
  cursor: pointer;
}

/* Container dos textos */
.driver-info-Mclaren {
  display: flex;
  gap: 6px; /* Espaço entre o Nome e o Sobrenome */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo do Primeiro Nome (Normal) */
.first-name-Mclaren {
  font-weight: 400;
  opacity: 0.9; /* Um toque sutil de opacidade se quiser diferenciar mais */
  cursor: pointer;
}

/* Estilo do Sobrenome (Negrito) */
.last-namecadillac-Mclaren {
  font-weight: 800;
  text-transform: uppercase; /* Garante que fique em caixa alta */
  cursor: pointer;
}
/*Mclaren  */

/*Ferrari  */
/* Definições gerais do card do piloto */
.driver-card-Ferrari {
  display: inline-flex; /* Faz o card se ajustar ao tamanho do conteúdo */
  align-items: center; /* Alinha a imagem e o texto verticalmente ao centro */
  padding: 10px 20px;
  border-radius: 8px; /* Leve arredondada nos cantos do card (opcional) */
  font-family: "Arial", sans-serif; /* Use a fonte de sua preferência */
  gap: 12px; /* Espaço exato entre a imagem e o texto */
  cursor: pointer;
}

/* Container do Avatar para fazer o fundo circular verde claro */
.avatar-container-Ferrari {
  width: 45px;
  height: 45px;
  background-color: #44ca9d; /* Verde mais claro de fundo da foto */
  border-radius: 50%; /* Deixa o container redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Garante que a foto não saia do círculo */
  cursor: pointer;
}

/* Estilização da imagem do piloto */
.driver-avatar-Ferrari {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da foto sem distorcer */
  cursor: pointer;
}

/* Container dos textos */
.driver-info-Ferrari {
  display: flex;
  gap: 6px; /* Espaço entre o Nome e o Sobrenome */
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo do Primeiro Nome (Normal) */
.first-name-Ferrari {
  font-weight: 400;
  opacity: 0.9; /* Um toque sutil de opacidade se quiser diferenciar mais */
}

/* Estilo do Sobrenome (Negrito) */
.last-namecadillac-Ferrari {
  font-weight: 800;
  text-transform: uppercase; /* Garante que fique em caixa alta */
  cursor: pointer;
}
/*Ferrari  */
section.container {
  /*background-image: radial-gradient(#3101016e, #6d00d9,#00D4FF );*/
  background-color: rgba(73, 77, 92, 0.122);
  height: 30rem;
  width: 100%;
  position: relative;

  & .list {
    width: 60vw;
    height: 100%;
    margin: auto;
    position: relative;

    & .item {
      position: absolute;
      inset: 0;

      & .car-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 70%;

        & img {
          width: 100%;
          transform: rotate();
          border-radius: 20px;
        }

        &::before {
          content: ("");
          position: absolute;
          background-color: #000;
          width: 100%;
          height: 100px;
          top: 150%;
          left: 50px;
          border: 50%;
          filter: blur(50px);
        }
      }

      & .content {
        position: absolute;
        right: 100px;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 20px;

        & .Car-information {
          font-weight: bold;
        }

        & h2 {
          font-size: 2rem;
          line-height: 1em;
          font-family:
            League Gothic,
            sans-serif;
        }

        & .description {
          color: #d9d9d9;
          font-size: 12px;
          text-align: right;
          max-width: 400px;
        }

        & .information {
          border-radius: 30px;
          height: 35px;
          width: 120px;
          text-transform: uppercase;
          border: none;
          background-color: #fff;
          color: #000;
          cursor: pointer;
          font-weight: bold;
          font-family:
            League Gothic,
            sans-serif;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 200px;
      width: 100%;
      top: 50%;
    }
  }

  .arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, -25px);

    & button:nth-child(-1) {
      & img {
        transform: scale(1);
        /*Rotaciona o item*/
      }
    }

    & button {
      top: 60%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      & img {
        width: 30px;
        margin-top: 4px;
        cursor: pointer;
      }

      &:hover {
        background-color: #d51f1f;
        transition: all;
      }
    }
  }

  .indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;

    & .number {
      font-size: 5em;
      font-family:
        League Gothic,
        sans-serif;
    }

    & ul {
      display: flex;
      gap: 10px;

      & .active {
        background-color: #d9d9d9;
      }
    }
  }
}

section {
  & .list {
    --calculation: 1;

    & .item {
      transform: translateX(calc(100vw * var(--calculation)));
      transition: 0.5s;
      opacity: 0;

      & .car-img {
        & img {
          transform: rotate();
          transition: 0.5s;
          transition-delay: 0.3s;
        }
      }

      & .content {
        & .Car-information,
        h2,
        .description,
        .information {
          transform: translateX(calc(200px * var(--calculation)));
          transition: 0.7s;
          transition-delay: 0.3s;
          opacity: 0;
        }

        & h2 {
          transition-delay: 0.5s;
        }

        & .description {
          transition-delay: 0.7s;
        }

        & .information {
          transition-delay: 0.9s;
        }
      }
    }

    & .active {
      transform: translateX(0);
      transition: 0.5s;
      opacity: 1;

      & .car-img {
        & img {
          transform: rotate();
        }
      }

      & .content {
        & .Car-information,
        h2,
        .description,
        .information {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}

.rodas-f1 {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.rodas {
  font-size: 3rem;
  font-weight: 900;
}
.formula-01 {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.container-result {
  width: 100%;
  height: 80%;
  display: grid;
  align-items: center;
  background-color: #000;
  border-radius: 1rem;
  margin-bottom: 10rem;
}
.div-ul {
  display: grid;
  align-items: center;
  justify-content: center;
}
.resultados {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  color: #72728d;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid #ccc; /* Linha fina e cinza embaixo */
  padding: 8px;

  margin-bottom: 2rem;
}
.li {
}
.resultados-corrida li {
  border-bottom: 0.1px solid #ccc; /* Linha fina e cinza embaixo */
  padding: 10px;
  width: 100%; /* Faz a linha ser contínua de ponta a ponta */
}
.corrida {
  padding: 5rem;
  margin-bottom: auto;
}
.resultados-corrida {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.container-princ {
  display: grid;
  align-items: center;
  justify-content: center;
}
.container-fan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.container-final {
  background-color: #000;
  height: 25rem;
  width: 27rem;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.container-final:hover {
  transform: translateY(-5px); /* Sobe um pouco */
  border-color: #00ffff; /* Acende a borda */
  /* Cria uma sombra suave simulando elevação */
  box-shadow: 0 10px 20px rgba(202, 9, 9, 0.811);
}
.container-image {
  width: 25.5rem;
  border-radius: 10px;
}

.fan {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  font-weight: 800;
  font-style: normal;
}
